<a href="https://colab.research.google.com/github/abhilashs1/Bike_Sharing_Demand/blob/main/Bike_Sharing_Demand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Seoul Bike Sharing Demand Prediction </u></b>

## <b> Problem Description </b>

### Currently Rental bikes are introduced in many urban cities for the enhancement of mobility comfort. It is important to make the rental bike available and accessible to the public at the right time as it lessens the waiting time. Eventually, providing the city with a stable supply of rental bikes becomes a major concern. The crucial part is the prediction of bike count required at each hour for the stable supply of rental bikes.

## <b> Data Description </b>

### <b> The dataset contains weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour and date information.</b>


### <b>Attribute Information: </b>

* ### Date : year-month-day
* ### Rented Bike count - Count of bikes rented at each hour
* ### Hour - Hour of he day
* ### Temperature-Temperature in Celsius
* ### Humidity - %
* ### Windspeed - m/s
* ### Visibility - 10m
* ### Dew point temperature - Celsius
* ### Solar radiation - MJ/m2
* ### Rainfall - mm
* ### Snowfall - cm
* ### Seasons - Winter, Spring, Summer, Autumn
* ### Holiday - Holiday/No holiday
* ### Functional Day - NoFunc(Non Functional Hours), Fun(Functional hours)

In [ ]:
import numpy as np
import pandas as pd
from numpy import math
from numpy import loadtxt
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings

from datetime import datetime     #importing for date time application
import datetime as dt

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MultiLabelBinarizer

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import RandomizedSearchCV

from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import log_loss
warnings.filterwarnings('ignore')

In [ ]:
#MOUNTING DRIVE

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# LOAD SEOLBIKE DATA SET FROM DRIVE

bike_df = pd.read_csv('/content/drive/MyDrive/Bike Sharing Demand/SeoulBikeData.csv',encoding='latin')

# **EXPLORATORY DATA ANALYSIS**

EDA is a unavoidable and one of the major step to fine-tune the given data set in different form of analysis to understand the insights. It is an approach to analyzing datasets to Summerize their main characteristics, Often with visual methods.

**UNDERSTANDING MORE ABOUT THE DATA**

In [ ]:
#top 5 Rows

bike_df.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [ ]:
#tail of the data

bike_df.tail()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [ ]:
#shape of the dataset with rows and columns
bike_df.shape

(8760, 14)

In [ ]:
#description of data

bike_df.describe()

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000

In [ ]:
#columns name of the dataset
bike_df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [ ]:
print(bike_df['Seasons'].unique())
print(bike_df['Holiday'].unique())
print(bike_df['Functioning Day'].unique())
print(bike_df['Date'].unique())

['Winter' 'Spring' 'Summer' 'Autumn']
['No Holiday' 'Holiday']
['Yes' 'No']
['01/12/2017' '02/12/2017' '03/12/2017' '04/12/2017' '05/12/2017'
 '06/12/2017' '07/12/2017' '08/12/2017' '09/12/2017' '10/12/2017'
 '11/12/2017' '12/12/2017' '13/12/2017' '14/12/2017' '15/12/2017'
 '16/12/2017' '17/12/2017' '18/12/2017' '19/12/2017' '20/12/2017'
 '21/12/2017' '22/12/2017' '23/12/2017' '24/12/2017' '25/12/2017'
 '26/12/2017' '27/12/2017' '28/12/2017' '29/12/2017' '30/12/2017'
 '31/12/2017' '01/01/2018' '02/01/2018' '03/01/2018' '04/01/2018'
 '05/01/2018' '06/01/2018' '07/01/2018' '08/01/2018' '09/01/2018'
 '10/01/2018' '11/01/2018' '12/01/2018' '13/01/2018' '14/01/2018'
 '15/01/2018' '16/01/2018' '17/01/2018' '18/01/2018' '19/01/2018'
 '20/01/2018' '21/01/2018' '22/01/2018' '23/01/2018' '24/01/2018'
 '25/01/2018' '26/01/2018' '27/01/2018' '28/01/2018' '29/01/2018'
 '30/01/2018' '31/01/2018' '01/02/2018' '02/02/2018' '03/02/2018'
 '04/02/2018' '05/02/2018' '06/02/2018' '07/02/2018' '08/02/2018'
 '09/02/2018' '10/02/2018' '11/02/2018' '12/02/2018' '13/02/2018'
 '14/02/2018' '15/02/2018' '16/02/2018' '17/02/2018' '18/02/2018'
 '19/02/2018' '20/02/2018' '21/02/2018' '22/02/2018' '23/02/2018'
 '24/02/2018' '25/02/2018' '26/02/2018' '27/02/2018' '28/02/2018'
 '01/03/2018' '02/03/2018' '03/03/2018' '04/03/2018' '05/03/2018'
 '06/03/2018' '07/03/2018' '08/03/2018' '09/03/2018' '10/03/2018'
 '11/03/2018' '12/03/2018' '13/03/2018' '14/03/2018' '15/03/2018'
 '16/03/2018' '17/03/2018' '18/03/2018' '19/03/2018' '20/03/2018'
 '21/03/2018' '22/03/2018' '23/03/2018' '24/03/2018' '25/03/2018'
 '26/03/2018' '27/03/2018' '28/03/2018' '29/03/2018' '30/03/2018'
 '31/03/2018' '01/04/2018' '02/04/2018' '03/04/2018' '04/04/2018'
 '05/04/2018' '06/04/2018' '07/04/2018' '08/04/2018' '09/04/2018'
 '10/04/2018' '11/04/2018' '12/04/2018' '13/04/2018' '14/04/2018'
 '15/04/2018' '16/04/2018' '17/04/2018' '18/04/2018' '19/04/2018'
 '20/04/2018' '21/04/2018' '22/04/2018' '23/04/2018' '24/04/2018'
 '25/04/2018' '26/04/2018' '27/04/2018' '28/04/2018' '29/04/2018'
 '30/04/2018' '01/05/2018' '02/05/2018' '03/05/2018' '04/05/2018'
 '05/05/2018' '06/05/2018' '07/05/2018' '08/05/2018' '09/05/2018'
 '10/05/2018' '11/05/2018' '12/05/2018' '13/05/2018' '14/05/2018'
 '15/05/2018' '16/05/2018' '17/05/2018' '18/05/2018' '19/05/2018'
 '20/05/2018' '21/05/2018' '22/05/2018' '23/05/2018' '24/05/2018'
 '25/05/2018' '26/05/2018' '27/05/2018' '28/05/2018' '29/05/2018'
 '30/05/2018' '31/05/2018' '01/06/2018' '02/06/2018' '03/06/2018'
 '04/06/2018' '05/06/2018' '06/06/2018' '07/06/2018' '08/06/2018'
 '09/06/2018' '10/06/2018' '11/06/2018' '12/06/2018' '13/06/2018'
 '14/06/2018' '15/06/2018' '16/06/2018' '17/06/2018' '18/06/2018'
 '19/06/2018' '20/06/2018' '21/06/2018' '22/06/2018' '23/06/2018'
 '24/06/2018' '25/06/2018' '26/06/2018' '27/06/2018' '28/06/2018'
 '29/06/2018' '30/06/2018' '01/07/2018' '02/07/2018' '03/07/2018'
 '04/07/2018' '05/07/2018' '06/07/2018' '07/07/2018' '08/07/2018'
 '09/07/2018' '10/07/2018' '11/07/2018' '12/07/2018' '13/07/2018'
 '14/07/2018' '15/07/2018' '16/07/2018' '17/07/2018' '18/07/2018'
 '19/07/2018' '20/07/2018' '21/07/2018' '22/07/2018' '23/07/2018'
 '24/07/2018' '25/07/2018' '26/07/2018' '27/07/2018' '28/07/2018'
 '29/07/2018' '30/07/2018' '31/07/2018' '01/08/2018' '02/08/2018'
 '03/08/2018' '04/08/2018' '05/08/2018' '06/08/2018' '07/08/2018'
 '08/08/2018' '09/08/2018' '10/08/2018' '11/08/2018' '12/08/2018'
 '13/08/2018' '14/08/2018' '15/08/2018' '16/08/2018' '17/08/2018'
 '18/08/2018' '19/08/2018' '20/08/2018' '21/08/2018' '22/08/2018'
 '23/08/2018' '24/08/2018' '25/08/2018' '26/08/2018' '27/08/2018'
 '28/08/2018' '29/08/2018' '30/08/2018' '31/08/2018' '01/09/2018'
 '02/09/2018' '03/09/2018' '04/09/2018' '05/09/2018' '06/09/2018'
 '07/09/2018' '08/09/2018' '09/09/2018' '10/09/2018' '11/09/2018'
 '12/09/2018' '13/09/2018' '14/09/2018' '15/09/2018' '16/09/2018'
 '17/09/2018' '18/09/2018' '19/09/2018' '20/09/2018' '21/09/2018'
 '22/09/2018' '23/09/2018' '24/09/2018' '25/09/2018' '26/09/2018'
 '27/09/2018' '28/09/2018' '29/09/2018' '30/09/2018' '01/10/2018'
 '02/10/2018' '03/10/2018' '04/10/2018' '05/10/2018' '06/10/2018'
 '07/10/2018' '08/10/2018' '09/10/2018' '10/10/2018' '11/10/2018'
 '12/10/2018' '13/10/2018' '14/10/2018' '15/10/2018' '16/10/2018'
 '17/10/2018' '18/10/2018' '19/10/2018' '20/10/2018' '21/10/2018'
 '22/10/2018' '23/10/2018' '24/10/2018' '25/10/2018' '26/10/2018'
 '27/10/2018' '28/10/2018' '29/10/2018' '30/10/2018' '31/10/2018'
 '01/11/2018' '02/11/2018' '03/11/2018' '04/11/2018' '05/11/2018'
 '06/11/2018' '07/11/2018' '08/11/2018' '09/11/2018' '10/11/2018'
 '11/11/2018' '12/11/2018' '13/11/2018' '14/11/2018' '15/11/2018'
 '16/11/2018' '17/11/2018' '18/11/2018' '19/11/2018' '20/11/2018'
 '21/11/2018' '22/11/2018' '23/11/2018' '24/11/2018' '25/11/2018'
 '26/11/2018' '27/11/2018' '28/11/2018' '29/11/2018' '30/11/2018']

In [ ]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   object
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(°C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(°C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

In [ ]:
#unique values

bike_df.nunique()

Date                          365
Rented Bike Count            2166
Hour                           24
Temperature(°C)               546
Humidity(%)                    90
Wind speed (m/s)               65
Visibility (10m)             1789
Dew point temperature(°C)     556
Solar Radiation (MJ/m2)       345
Rainfall(mm)                   61
Snowfall (cm)                  51
Seasons                         4
Holiday                         2
Functioning Day                 2
dtype: int64

In [ ]:
#checking the no null values
bike_df.isna().sum()
bike_df.isnull().sum()

Date                         0
Rented Bike Count            0
Hour                         0
Temperature(°C)              0
Humidity(%)                  0
Wind speed (m/s)             0
Visibility (10m)             0
Dew point temperature(°C)    0
Solar Radiation (MJ/m2)      0
Rainfall(mm)                 0
Snowfall (cm)                0
Seasons                      0
Holiday                      0
Functioning Day              0
dtype: int64

Above result says that there are no null values in the data

In [ ]:
bike_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Length: 8760, dtype: bool


---



**Date** : The date of the day, during 365 days from 01/12/2017 to 30/11/2018, formating in DD/MM/YYYY, type : str, we need to convert into datetime format.

**Rented Bike Count** : Number of rented bikes per hour which our dependent variable and we need to predict that, type : int

**Hour:** The hour of the day, starting from 0-23 it's in a digital time format, type : int, we need to convert it into category data type.

**Temperature(°C)**: Temperature in Celsius, type : Float

**Humidity(%)**: Humidity in the air in %, type : int

**Wind speed (m/s) :** Speed of the wind in m/s, type : Float

**Visibility (10m):** Visibility in m, type : int

**Dew point temperature(°C)**: Temperature at the beggining of the day, type : Float

**Solar Radiation (MJ/m2)**: Sun contribution, type : Float

**Rainfall(mm)**: Amount of raining in mm, type : Float

**Snowfall (cm)**: Amount of snowing in cm, type : Float

**Seasons**: Season of the year, type : str, there are only 4 season's in data .

**Holiday:** If the day is holiday period or not, type: str

**Functioning Day:** If the day is a Functioning Day or not, type : str

# changing column names

**some of the columns name in the dataset are too large and clumsy so we change that into some simple names**

In [ ]:
bike_df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(°C)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [ ]:
bike_df=bike_df.rename(columns= { 'Rented Bike Count':'Rented_Bike_Count',
                    'Temperature(°C)':'Temperature',
                    'Humidity(%)':'Humidity',
                    'Wind speed (m/s)': 'Wind_speed',
                    'Visibility (10m)':'Visibility',
                    'Dew point temperature(°C)': 'Dew_point_temperature',
                    'Solar Radiation (MJ/m2)':'Solar_Radiation',
                    'Rainfall(mm)':'Rainfall',
                    'Snowfall (cm)':'Snowfall',
                    'Functioning Day':'Functioning_day'})

In [ ]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   8760 non-null   object
 1   Rented_Bike_Count      8760 non-null   int64
 2   Hour                   8760 non-null   int64
 3   Temperature            8760 non-null   float64
 4   Humidity               8760 non-null   int64
 5   Wind_speed             8760 non-null   float64
 6   Visibility             8760 non-null   int64
 7   Dew_point_temperature  8760 non-null   float64
 8   Solar_Radiation        8760 non-null   float64
 9   Rainfall               8760 non-null   float64
 10  Snowfall               8760 non-null   float64
 11  Seasons                8760 non-null   object
 12  Holiday                8760 non-null   object
 13  Functioning_day        8760 non-null   object
dtypes: float64(6), int64(4), object(4)
memory usage: 958.2+ KB

changing the date column into day, month ,year

In [ ]:
bike_df['Date'] =bike_df['Date'].apply(lambda x:
                              dt.datetime.strptime(x,'%d/%m/%Y'))

In [ ]:
# extracting the year and month from the date feature
bike_df['year'] = bike_df['Date'].dt.year
bike_df['month'] = bike_df['Date'].dt.month
bike_df['day'] = bike_df['Date'].dt.day_name()

In [ ]:
# creating a new column of'weekdays_weekend' 
bike_df['weekdays_weekend']=bike_df['day'].apply(lambda x : 1 if x=='Saturday' or x=='Sunday' else 0 )
bike_df=bike_df.drop(columns=['Date','day','year'],axis=1)

In [ ]:
bike_df.head()

,Rented_Bike_Count,Hour,Temperature,Humidity,Wind_speed,Visibility,Dew_point_temperature,Solar_Radiation,Rainfall,Snowfall,Seasons,Holiday,Functioning_day,month,weekdays_weekend
0,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
2,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
3,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0
4,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes,12,0


*  here the date column is changed to year month and day 

*   the dataset contains datas of 2017 december to 2018 novmber , so consider this is a one year , so just drop year column because 


*   also remove another column day ,because we dont need each day of every month ,we need data about weekday and weekend so we convert it into this foemat and drop day column

In [ ]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rented_Bike_Count      8760 non-null   int64
 1   Hour                   8760 non-null   int64
 2   Temperature            8760 non-null   float64
 3   Humidity               8760 non-null   int64
 4   Wind_speed             8760 non-null   float64
 5   Visibility             8760 non-null   int64
 6   Dew_point_temperature  8760 non-null   float64
 7   Solar_Radiation        8760 non-null   float64
 8   Rainfall               8760 non-null   float64
 9   Snowfall               8760 non-null   float64
 10  Seasons                8760 non-null   object
 11  Holiday                8760 non-null   object
 12  Functioning_day        8760 non-null   object
 13  month                  8760 non-null   int64
 14  weekdays_weekend       8760 non-null   int64
dtypes: float64(6), int64(6), object(3)
memory usage: 1.0+ MB

In [ ]:
#converting 'hour','month''weekdays_weekend' columns into categorical data .

cols=['Hour','month','weekdays_weekend']
for col in cols:
  bike_df[col]=bike_df[col].astype('category')

In [ ]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rented_Bike_Count      8760 non-null   int64
 1   Hour                   8760 non-null   category
 2   Temperature            8760 non-null   float64
 3   Humidity               8760 non-null   int64
 4   Wind_speed             8760 non-null   float64
 5   Visibility             8760 non-null   int64
 6   Dew_point_temperature  8760 non-null   float64
 7   Solar_Radiation        8760 non-null   float64
 8   Rainfall               8760 non-null   float64
 9   Snowfall               8760 non-null   float64
 10  Seasons                8760 non-null   object
 11  Holiday                8760 non-null   object
 12  Functioning_day        8760 non-null   object
 13  month                  8760 non-null   category
 14  weekdays_weekend       8760 non-null   category
dtypes: category(3), float64(6), int64(3), object(3)
memory usage: 848.3+ KB

# Checkingdistribution over dependent variable



Here we analyse our dependent variable ,A dependent variable is a variable whose value will change depending on the value of another variable.

our dependent variable is **Rented bike count**


**Now we analyse dependent variable with other columns by using some visualisation plots.**

**here we have categorical and numerical datas **


**so we have to analyse both datas with dependent variable**

# **Exploring Categorical variables**